NEXT_PUBLIC_APP_URL="http://localhost:5180"

NEON_AUTH_BASE_URL="https://YOUR-PROJECT.neonauth.us-east-2.aws.neon.build/neondb/auth"
NEON_AUTH_COOKIE_SECRET="GENERATE_A_SECRET_WITH_AT_LEAST_32_CHARACTERS"

DATABASE_URL="postgresql://USER:PASSWORD@HOST/DB_NAME?sslmode=require"

UPSTASH_REDIS_REST_URL="https://YOUR-UPSTASH-INSTANCE.upstash.io"
UPSTASH_REDIS_REST_TOKEN="YOUR_UPSTASH_TOKEN"