NEXT_PUBLIC_APP_URL="http://localhost:3000"

DATABASE_URL="postgresql://USER:PASSWORD@HOST/DB_NAME?sslmode=require"

UPSTASH_REDIS_REST_URL="https://YOUR-UPSTASH-INSTANCE.upstash.io"
UPSTASH_REDIS_REST_TOKEN="YOUR_UPSTASH_TOKEN"